
.jumbotron {
  background-color: #f4511e; /* Orange */
  color: #ffffff;
  }
  body {
  margin: 0;
  background-color:#999999;
}
.bg-image {
  /* The image used */
height: 100%;
  
}
 .button-container-div {
            text-align: right;
        }
.ex{
  color: #ff0000;
}
label {
  color: #000000;
  font-weight: bold;
  display: block;
}
p {
  text-indent: 50px;
  text-align: justify;
  letter-spacing: 3px;
}
}
